<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
        bootstrap="phpunit_bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="Environment-Independent Tests">
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
    </testsuites>

    <!-- Filter code coverage to only src/ -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <file>src/Internal/FunctionWrappers.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
